<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/admin/css/style.css" rel="stylesheet" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trang quản trị Mrk4tsu Shop" />
    <meta property="og:image" content="http://theme.hstatic.net/200000326083/1000704722/14/share_fb_home.jpg?v=262" />
    <meta property="og:site_name" content="Trang quản trị Mrk4tsu Shop" />
    <meta property="og:url" content="https://tedu.vn/" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="alert-admin-box" class="alert  alert-dismissible @TempData["AlertType"] hide">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                @TempData["AlertMessage"]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Account/CreateUser.cshtml", new Model.Entity.Account())
    <script src="~/assets/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/assets/ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>